<p style="text-align: justify;">En Bogotá y Cundinamarca al menos el 90% de las viviendas de interés social se entregan en obra gris, esto quiere decir que: 
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Los pisos se entregan sin enchape y los muros generalmente se entregan con mortero a la vista sin pintar o con ladrillo a la vista.</li> 
        <li style="text-align: justify;"> Si tiene más de un baño estos no se entregan acabados. Los puntos de agua y desagüe estarán cerrados para su posterior instalación.</li>
        <li style="text-align: justify;">Las habitaciones no se entrega con puertas, usualmente las tuberías en los baños y en las cocinas están a la vista.</li>
        <li style="text-align: justify;">El techo no tiene acabado y se puede ver el acabado de la placa de concreto.</li>
        <li style="text-align: justify;">En la cocina se encontará un mesón en acero inoxidable con estufa de 4 puestos y lavaplatos.</li>
    </ul>
   </p>