<p style="text-align: justify;">
    La compra de vivienda en Bogotá y cundinamarca presenta una mayor demanda en Soacha y en las localidades de Kennedy, Suba y Bosa.
La Secretaría del Hábitat y Galería Inmobiliaria informan que hay 26,185 unidades disponibles para compra en Bogotá. El 42% son del segmento no VIS, seguido de las VIS (40%), las VIS de renovación urbana (10%), y finalmente 1,718 unidades VIP. La localidad con mayor oferta es Bosa (3,914 unidades), seguida por Suba (3,434), Fontibón (3,297), Usaquén (2,733), y Kennedy (2,016).

De acuerdo a las estadisticas previamente mencionadas es probable que exista una alta demanda de personas que quieran remodelar su vivienda nueva una vez esta se les sea entregada.
</p>