

<div>
    <h5>Ricardo Triviño</h5>
    <p style="float: left;"><img src="https://ca.slack-edge.com/E655JKQRX-U02SAE3GR8X-ef57a32dc04a-512" style="border-radius: 50%; width: 200px; height: 200px; margin-right: 30px;"></p>
    <p style="text-align: justify;">Ingeniero de sistemas de la Universidad de Cundinamarca con más de un año de experiencia en el sector de sistemas informáticos y telecomunicaciones. Con una especialización en sistemas de información gerencial y en búsqueda constante de nuevos proyectos que me reten mis capacidades día tras día.</p>
</div>
<div style="clear: left;">
    <h5>Fernando Moreno</h5>
    <p style="float: left;"><img src="https://ca.slack-edge.com/E655JKQRX-U02PZCMJ5HA-ae4808f0ff2d-512" style="border-radius: 50%; width: 200px; height: 200px; margin-right: 30px;"></p>
    <p style="text-align: justify;">Soy estudiante de Ingeniería de sistemas y computación pro-activo, creativo y con mentalidad de solucionador de problemas. También me considero un líder que motivad y tiene una visión a largo plazo para el éxito de sus proyectos.</p>
</div>

<div style="clear: left;">
    <h5>Simón Marín</h5>
    <p style="float: left;"><img src="https://ca.slack-edge.com/E655JKQRX-U022VERHNLU-3f0a85843b3d-512" style="border-radius: 50%; width: 200px; height: 200px; margin-right: 30px;"></p>
    <p style="text-align: justify;">Soy un ingeniero de sistemas apasionado por resolver problemas a través de la programación. Me interesan el desarrollo de software, la inteligencia artificial y las tecnologías en la nube. En mis momentos de ocio, disfruto jugando al baloncesto o montando en bicicleta. </p>
</div>

<div style="clear: left;">
    <h5>Brayan Rojas</h5>
    <p style="float: left;"><img src="https://ca.slack-edge.com/E655JKQRX-U01KNB4PYQ6-d4372cc89a5c-512" style="border-radius: 50%; width: 200px; height: 200px; margin-right: 30px;"></p>
    <p style="text-align: justify;">Ingeniero de sistemas de la Escuela Colombiana de Ingenieria Julio Garavito. Interesado en la implementación y el manejo de bases de datos, el desarrollo de software y en aprender nuevas tecnologías. Tengo conocimiento en  diferentes lenguajes de programación, soy una persona autodidacta que le gustan los retos. </p>
</div>