<p style="text-align: justify;">En ReNova se busca transformar la vivienda de nuestros clientes ofreciendo los siguientes servicios:
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Con ReNova el cliente podrá tener la oportunidad de pagar su remodelación en cuotas mes a mes desde que empieza la separacion del apartamento. De esta manera, cuando se le entregue la vivienda al cliente podra iniciar la remodelacion inmediatamente y se le hara entrega con acabados en el menor tiempo posible, el cliente no se tendra que preocupar por sacar una cantidad de dinero, ya sea de prestamos o de ahorros como se hace hoy en día.</li>
        <li style="text-align: justify;">Ofrecer distintos paquetes para la remodelación de la vivienda con una financiación acorde a su bolsillo con la finalidad de que las personas tengan una vivienda con espacios funcionales y acogedores que sastisfagan las necesidades y deseos del cliente con ayuda de talento humano calificado en cada una de las áreas a remodelar.</li> 
        
        <li style="text-align: justify;">Paga tu remodelación mientras recibes tu vivienda.</li>
        <li style="text-align: justify;"> 0 intermediarios.</li>
        
        
        
    </ul>
   </p>